################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Core/obj
/src/API/obj
/src/Core/obj
