@model MinhaAplicacao_Cliente.Models.PedidoModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Numero" class="control-label"></label>
    <input asp-for="Numero" class="form-control" />
    <span asp-validation-for="Numero" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="Salvar" class="btn btn-primary" />
</div>
