@model IEnumerable<MinhaAplicacao_Cliente.Models.PedidoModel>

<h4>Pedidos</h4>

<p>
    <a asp-action="Adicionar">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
            </tr>
        }
    </tbody>
</table>
